body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  header {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
    opacity: 1;
    color: white;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .header-img img{
    width: 100%;
    height: auto;
    filter: blur(10px);
    transition: filter .5s ease-in;
  } 

  .header-img img:hover {
    filter: blur(0px);
    transition: filter .5s ease-in;
  }

 
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
  }

  .briefcase {
    width: 200px;
    height: auto;
    padding-right: -100px;
  }

  .descriere {
    margin-left: -50px;
    padding-top: 20px;
  }

  .descriere h3 {
    font-size: 24px;
    font-weight: 800;
  }

  .descriere p {
    font-weight: 500;
  }
  
  .grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .credit {
    text-align: center;
    margin: auto;
    background: #333;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
  }

  .icon {
    align-items: center;
    margin-left: 35px;
    margin-bottom: 10px;
  }

  .bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
  footer {
    padding: 2.2rem;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Small Screens */
  @media (max-width: 560px) {
    .showcase::after {
      height: 50vh;
    }
  
    .content {
      top: 5%;
      margin-top: 5px;
    }
  
    .content .logo {
      height: 140px;
      width: 140px;
    }
  
    .content .text {
      display: none;
    }
  
    .grid-3,
    .grid-2 {
      grid-template-columns: 1fr;
    }
  
    .services div {
      border-bottom: #333 dashed 1px;
      padding: 1.2rem 1rem;
    }
  }
  
  /* Landscape */
  @media (max-height: 500px) {
    .content .title,
    .content .text {
      display: none;
    }
  
    .content {
      top: 0;
    }
  }
  